body {
    font-family: Muli;
    background-color: white;
    padding: 0;
    margin: 0;
}

html {
  scroll-padding-top: 40px; 
  scroll-behavior: smooth;
}


/* .menu-toggle{
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 2; 
    color: white;
}
header{
    text-align: left; 
    color:rgb(255, 255, 255); 
    
    
}
header h1{
    top:0; 
    position: fixed;
    z-index: 2; 
} */


#navbar {
    position: sticky;
    background-color: #f8f9fa;
    z-index: 1000;
    top: 0;
    justify-content: space-between;
    display: flex;
        align-items: center;
    padding: 0px 40px;
}

.logo {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    color: rgb(33, 120, 154);
    text-decoration: none;
}

#menu-toggle {
    display: none;
    font-size: 28px;
    color: black;
    cursor: pointer;
    margin-left: auto;

}

#navbarNav{
    display: flex;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-top: 20px;
    margin-right: 10px; 
}

.nav-links li a {
    font-family: 'Playfair Display', serif;
    color: rgb(33, 120, 154);
    text-decoration: none;
    font-size: 1.2rem;
}

#typed-text {
    font-size: 18px;
}

#home {
    text-align: center;
    padding-top: 25rem;
    padding-bottom: 25rem;
    background: linear-gradient(to right, #335681, #432575);
    color: white;
}


#about {
    margin-top: 40px;
    position: relative;
    background-color: white;
    color: black;
    text-align: center;
    padding: 3rem;
    box-sizing: border-box;
    width: 100%;


}

#social-profile {
    text-align: left;
    margin-top: 20px;
}

.social-links {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #555;
    text-decoration: none;
}


.social-links i {
    border-radius: 50%;
    padding: 10px;
    background-color: #eee;
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    background-color: #355062;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #3c505d;
    cursor: pointer;
}

#resume-container {
    text-align: left;
    padding: 2rem;
}

.resume-button:hover {
    color: white;
    text-decoration: none;
}

#about h2 {
    color: #001f3f;
    /* Navy Blue */
    font-family: 'Merriweather', serif;

}

#about h3,
h4 {
    color: #252424;
    font-family: Muli;
}

#about p {
    color: #544f4f;
    font-family: Muli;
}

#about p {
    text-align: justify;
}

#projects {
    position: relative;
    margin-top: 1px;
    background-color: #f2f2f2;
    color: black;
    padding: 3rem;
    text-align: center;
    box-sizing: border-box;
    width: 100%;

}

#experience h2,
h3,
p {
    color: #001f3f;
    /* Navy Blue */
    font-family: 'Merriweather', serif;
}

#experience ul {
    text-align: justify;
    font-family: Muli;
}

#experience {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #f2f2f2;
    color: black;
    padding: 3rem;
    text-align: center;
    box-sizing: border-box;
    width: 100%;

}

#project-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;


}

.project {
    background-color: white;
    padding: 4rem;
}

.project a {
    background-color: #355062;
    border-radius: 4px;
    border: 2px solid #355062;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 12px;
    text-align: center;
    float: right;
}

#projects h2 {
    color: #001f3f;
    font-family: 'Merriweather', serif;

}

.project h3 {
    color: rgb(53, 51, 51);
    font-family: 'Lora', serif;

}

.project p {
    text-align: justify;
    font-family: Muli;
}

.project a:hover {
    text-decoration: none;
    color: white;
}

#contact {
    position: relative;
    margin-top: 40px;
    background-color: #f2f2f2;
    padding: 3rem;
    box-sizing: border-box;
    width: 100%;

}

#contact h2 {
    text-align: center;
    color: #001f3f;
    font-family: 'Merriweather', serif;
}

#contactForm {
    max-width: 600px;
    margin: 0 auto;
}

#contactForm label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contactForm button {
    background-color: #007bff;
    color: #fff;

    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#contactForm button:hover {
    background-color: #0056b3;
}

#skills {
    position: relative;
    margin-top: 40px;
    background-color: #fff;
    color: black;
    font-size: 20px;

    padding: 4rem;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

#skills h2 {
    color: #001f3f;
    font-family: 'Merriweather', serif;
}

.skill-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.skill {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
}

.skill p {
    text-align: justify;
    font-family: Muli;
}

.skill h3 {
    color: rgb(53, 51, 51);
    font-family: 'Lora', serif;

}

.footer-container {
    position: relative;
    margin-top: 1px;
    background-color: #232a12;
    color: white;
    padding: 3rem;
    text-align: center;
    width: 100%;
}

.footer-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

footer p {
    color: #81cdfb;
}

.social-linkss,
#details {
    text-align: center;
    color: #81cdfb;
}

.social-linkss h2,
#details h2 {
    font-size: 20px;
}

.social-link {

    margin-right: 10px;
    color: rgb(85, 79, 79);
    text-decoration: none;
    font-size: 28px;
}

.social-link:hover {
    color: blue;
}

#details p {
    margin-bottom: 0;
    color: #81cdfb;
}

#dark-mode-toggle{
    font-size: 24px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

body.dark-mode {
  background: #121212;
  color: #e0e0e0;
}

/* Navbar in dark mode */
body.dark-mode #navbar {
  background-color: #1e1e1e;
}

body.dark-mode .nav-link {
  color: #e0e0e0;
}

body.dark-mode #home{
background: linear-gradient(to right, #000000, #434343);
}

body.dark-mode #about,
body.dark-mode #projects,
body.dark-mode #experience,
body.dark-mode #skills,
body.dark-mode #contact,
body.dark-mode #about h2,
body.dark-mode #about h3,
body.dark-mode #about h4,
body.dark-mode #about p,
body.dark-mode #projects h2,
body.dark-mode #contact h2,
body.dark-mode #experience h2,
body.dark-mode #experience h3,
body.dark-mode #experience p,
body.dark-mode #skills h2,
body.dark-mode .project,
body.dark-mode .project h2,
body.dark-mode .project h3,
body.dark-mode .project p,
body.dark-mode .skill,
body.dark-mode .skill p,
body.dark-mode .skill h3,
body.dark-mode #menu-toggle,
body.dark-mode .nav-links,
body.dark-mode .footer-container,
body.dark-mode #contactForm label,
body.dark-mode #contactForm input,
body.dark-mode #contactForm textarea

{
    background-color:#1e1e1e ;
    color:#e0e0e0 ;

}

@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        background-color: #f8f9fa;
        top: 20px;
        right: 0px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }

    
    .nav-links.active {
        display: flex;
    }

    #dark-mode-toggle{
        position: relative; 
        font-size: 24px;
    }
    #menu-toggle {
        display: flex;
        margin-right: 10px;
    }

    #home {
        text-align: center;
    }

    section {
        padding: 1rem;
    }

    h2 {
        font-size: 1rem;
    }

    #project-grid,
    .skill-grid,
    .footer-grid {
        grid-template-columns: auto;
    }
}